#nav{
    align-items: flex-end; 
}


#top{
    display: flex;
    margin: 0;
    /*align-items: flex-end;*/
}


#top div{
    /*align-items: flex-end;*/
    background-color:#ff00ff;
}


#low2{
    display: flex;
}


/*logo and searh box__logo y barra de busqueda*/
#mid{
width: 1024px;
height: 233px;
}


p{
    width: 10%;
    flex-direction: row;
    margin: 1em;

}

#search{
    width: 35%;
    align-self: center;
}
